/*====== 공통 css ======*/
*{
   text-decoration: none;
   text-align: center;
  
    
}
/*===== 로그인 css =====*/
#login_title{
   display: flex;
   justify-content: space-between;
   width: 1200px;
   border-bottom: 2px solid black;
   align-items: last baseline;
   margin: auto;
}
.로그인{font-size: 33px;}
.홈_로그인 span{ color: grey;}

.login_main{
   text-align: center;

}
.login_box{
   display: flex;

}
.flexbox1{
   display: flex;
}