/*===== 제품구역 =====*/
.product{
    border: 1px solid #eeeeee;/*구역테두리*/
    width: 270px;
}
/*===== 제품 이미지 =====*/
.product-img{width: 270px;}
/*===== 제품 하단구역 =====*/
.product-info{
    border-top: 1px solid #eeeeee;
    padding: 10px;
    font-size: 12px;
}
/*===== 제품 정보구역 =====*/
.product-info > .title{
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 10px;
}
.product-info > .price{
    font-weight: bold;
    margin-bottom: 10px;
}
.product-info > .etc > .orange{
    color: orange;
    font-weight: bold;
}
