/*===== 제품구역 =====*/
.product{
    border: 1px solid #eeeeee;/*구역테두리*/
    width: 270px;
}
/*===== 제품 이미지 =====*/
.product-img{width: 270px;}
/*===== 제품 하단구역 =====*/
.product-info{
    border-top: 1px solid #eeeeee;
}
